div.mainBody.hb

	header.hb
		div.toggleSecret
		div.logo.hb
		div.loginBlock
			a#loginLink.lbLink Login
			a#registLink.lbLink Register


	div.mainBlock.hb

		div.columnBlock.hb

			div.sideCol.hb
				div.menuButton.crewButton
				div.menuButton.roamsButton
				div.menuButton.rumorsButton

			div.centerCol.hb
				div.newsHeader Breaking News
				div.newsBody Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			div.sideCol.hb
				div.menuButton.squadButton
				div.menuButton.missionsButton
				div.menuButton.legendsButton

		div.board

		div.secret
			div Congratulations! You are now hypnotoadized!

	footer.hb	