div.mainBody.hb

	header.hb
		div.logo.hb
		div.loginBlock
			a#loginLink.lbLink Login
			a#registLink.lbLink Register

	div.mainBlock.hb

		div.columnBlock.hb

			div.sideCol.hb
				div.menuItemBlock
					div.menuButton.crewButton
				div.menuItemBlock
					div.menuButton.roamsButton
				div.menuItemBlock
					div.menuButton.rumorsButton

			div.centerCol.hb
				div.newsHeader Breaking News
				div.newsBody
					|Some text \n
					|Some text \n
					|Some text \n

			div.sideCol.hb
				div.menuItemBlock
					div.menuButton.squadButton
				div.menuItemBlock
					div.menuButton.missionsButton
				div.menuItemBlock
					div.menuButton.legendsButton

		div.board

	footer.hb