div.mainBody.hb

	header.hb
		div.toggleSecret
		div.logo.hb
		div.loginBlock
			a#loginLink.lbLink Login
			a#registLink.lbLink Register


	div.mainBlock.hb

		div.columnBlock.hb

			div.sideCol.hb
				div.menuButton.crewButton
				div.menuButton.roamsButton
				div.menuButton.rumorsButton

			div.centerCol.hb
				div.newsHeader News
				div.newsBody
					p At last this site was started. You are free to explore it and register your teams. The deadline for registering is <strong>November 11</strong>
					p The quest is tentatively scheduled for <strong>November 19</strong>, if you are busy on this date and want to participate, please kindly inform organizators.

			div.sideCol.hb
				div.menuButton.squadButton
				div.menuButton.missionsButton
				div.menuButton.legendsButton

		div.board

		div.secret
			div Congratulations! You are now hypnotoadized!

	footer.hb	