!!!
html
	head
		title Quest: Pirates vs Ninjas!
		link(rel='stylesheet', href='/stylesheets/style.css')
	body!= body
		script(type='text/javascript', src='http://code.jquery.com/jquery-1.6.2.min.js')
		script(type='text/javascript', src='/javascripts/jquery.cookie.js')
		script(type='text/javascript', src='/javascripts/jquery.tinyscrollbar.min.js')
		script(type='text/javascript', src='/javascripts/jquery.watermarkinput.js')
		- if (page == 'index')
			script(type='text/javascript', src='/javascripts/scripts.js')
		- else if (page == 'team_create')
			script(type='text/javascript', src='/javascripts/team_create.js')
		- else if (page == 'team')
			script(type='text/javascript', src='/javascripts/team.js')
		- else if (page == 'error')
			script(type='text/javascript', src='/javascripts/error.js')