div

	div.teamBlock

		div.titleBlock
			if action == 'create' || action == 'edit'
				input(type="text", value="Team title")
			else
				|Salty Sea Dogs
			
		div.infoBlock
			div.caption Story:
			div.teamInfo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

		div.divider

		div.infoBlock
			div.caption Quests:
			div This team hasn't completed any quests.

		div.divider

		div.infoBlock
			div.caption Inventory:
			div This team has empty inventory.

		div.divider

		div.membersBlock
			div#p1.memberCol
				div.memberAvatar
					img(src="/images/avatars/noplayer.png")
				div.memberName Jack
				div.playerName 
					span.underlined Player:
					span.pName Oleg Trylis
				div.specName 
					span.underlined Specialization:
					span.pSpec OFFENCE
				div.infoText 
					span.underlined Info:
					span.pInfo Various information...

			div#p2.memberCol
				div.memberAvatar
					img(src="/images/avatars/noplayer.png")
				div.memberName Krigg D'Aur
				div.playerName 
					span.underlined Player:
					span.pName Philip Tovstogan
				div.specName 
					span.underlined Specialization:
					span.pSpec DEFENCE
				div.infoText
					span.underlined Info:
					span.pInfo Various information...

			div#p3.memberCol
				div.memberAvatar
					img(src="/images/avatars/noplayer.png")
				div.memberName The Reaper
				div
					span.underlined Player:
					span.pName Nick Tsygankov
				div
					span.underlined Specialization:
					span.pSpec SUPPORT
				div
					span.underlined Info:
					span.pInfo Various information...
