body
	padding 0
	margin 0
	background-color #000

a
	color #00B7FF

.mainBody
	margin 0 auto
	width 1200px
	background-image url('/images/head.png')
	background-repeat no-repeat
	background-color #3e596a
	background-position top center

/* ------ header ----------*/

header
	display block

header .logo
	margin 0 auto
	background-image url('/images/title.png')
	width 340px
	height 220px
	
.loginBlock
	position relative
	width 300px
	top -210px
	left 900px
	color #FFFFFF
	text-align right

.loginBlock a.lbLink
	cursor pointer
	margin 10px 15px
	
.loginBlock a:link
	color #99CCFF
.loginBlock a:visited
	color #99CCFF
.loginBlock a:hover
	color #CCFFFF

.toggleSecret
	width 10px
	height 10px
	margin 30px 50px
	float left
	
/*------- main part ---------*/

.mainBlock
	margin 0 auto
	height 600px
	overflow hidden

.columnBlock
	width 1200px
	-moz-column-count 3
	-moz-column-gap 0px
	-webkit-column-count 3
	-webkit-column-gap 0px
	column-count 3
	column-gap 0px
	z-index 1

.sideCol
	margin 0
	border 0
	width 400px
	height 600px

.centerCol
	margin 0
	width 240px
	height 400px
	background-image url('/images/scroll_news.png')
	background-repeat no-repeat
	padding 100px 80px
	z-index 1

/*------- scroll content--------*/

.newsHeader
	color #330000
	text-align center
	font-size 16px
	font-weight bold
	font-family fantasy
	margin-bottom 5px

.newsBody
	color #330000
	font-size 14px
	font-family sans-serif

/*------- menu buttons--------*/

.menuButton
	width 280px
	height 140px
	margin 0 auto
	background-repeat no-repeat
	cursor pointer

.crewButton
	background-image url('/images/menu/p1.png')
.crewButton:hover
	background-image url('/images/menu/p1h.png')

.roamsButton
	background-image url('/images/menu/p2.png')
.roamsButton:hover
	background-image url('/images/menu/p2h.png')

.rumorsButton
	background-image url('/images/menu/p3.png')
.rumorsButton:hover
	background-image url('/images/menu/p3h.png')

.squadButton
	background-image url('/images/menu/n1.png')
.squadButton:hover
	background-image url('/images/menu/n1h.png')

.missionsButton
	background-image url('/images/menu/n2.png')
.missionsButton:hover
	background-image url('/images/menu/n2h.png')

.legendsButton
	background-image url('/images/menu/n3.png')
.legendsButton:hover
	background-image url('/images/menu/n3h.png')

/*-------------- secret ---------------*/

.secret
	width 640px
	height 480px
	margin 0 auto
	background-repeat no-repeat
	background-image url('/images/hypnotoad.gif')
	border-style ridge
	border-width 10px
	border-color #000000
	z-index 3
	position relative
	top -1100px
	visibility hidden
	text-align center
	color #FFFFFF

/*-------------- board content -------------*/

.board
	width 420px
	height 500px
	margin 0 auto
	background-repeat no-repeat
	background-image url('/images/board.png')
	z-index 2
	position relative
	top -554px
	visibility hidden
	font-family sans-serif

.boardForm
	width 300px
	margin 0 auto
	font-size 14px
	/*color #FFFFFF*/

.boardForm span
	display block
	margin-bottom 10px
	font-family fantasy
	font-size 18px
	text-align center
	
.boardForm input[type*="text"], .boardForm input[type*="password"], .boardForm input[type*="email"]
	display block
	width 270px
	height 30px
	margin-bottom 15px
	font-size 14px
	border 0
	padding 0 15px
	background transparent url('/images/formfield.png')

.boardForm input[type*="button"], .boardForm input[type*="submit"], .boardForm button
	width 80px
	height 30px
	margin 5px 32px 0
	font-size 14px
	font-family fantasy
	color white
	cursor pointer
	border 0 none
	background transparent url('/images/button_bg2.png')
	
.boardForm button.center
	margin 50px auto 0
	display block
	
button.createNewSquad, button.createNewCrew
	width 80px
	height 30px
	display block
	margin 30px auto 0
	font-size 14px
	font-family fantasy
	color white
	border 0 none
	background transparent url('/images/button_bg2.png')

.boardContent
	width 350px
	height 450px
	padding-top 30px
.boardContent #boardCaption
	margin 0
.boardContent .teamList
	padding 10px 0
	margin 0
	list-style none
.boardContent .teamList .team_li
	list-style none
	margin-top 15px
		
/*.boardContent > ul > li:hover
	-moz-box-shadow 0 0 2px 3px rgba(255,255,255,0.5)
    -webkit-box-shadow 0 0 2px 3px rgba(255,255,255,0.5)
	box-shadow 0 0 2px 3px rgba(255,255,255,0.5)*/


.team_li .team_pic
	float left
	height 50px
	width 50px
	font-size 46px
.team_li .team_info
	margin 0 0 0 50px
.team_li .team_name
	margin 0 0 0 0
	font-size 14pt
	font-weight bold
.team_name:hover
	cursor pointer
	text-decoration underline
.team_li .team_info ul
	margin 0 0 0 15px
	padding 0

.boardText input[type*="button"]
	width 80px
	height 30px
	margin 5px 5px
	font-size 14px
	font-family fantasy
	border 0 none
	color #FFFFFF
	background transparent url('/images/button_bg2.png')

.loginForm
	padding-top 100px

.registForm
	padding-top 20px

.notification
	padding-top 200px
	text-align center

.boardText
	width 380px
	margin 0 auto
	font-size 14px
	padding-top 20px

.boardText span
	font-family fantasy
	font-size 18px
	text-align center

.rules
	font-size 10pt

/*-------- cor/err icons styles ------*/

.registIco
	width 25px
	height 25px
	margin-bottom 37px
.corIco
	background-image url('/images/form_yes.png')
.errIco
	background-image url('/images/form_no.png')
.registIcons
	width 25px
	position absolute
	top 72px
	right 27px

/*-------- misc ---------*/
.rulesImg
	width 200px
	height 200px
	background-image url('/images/diagram.png')
	margin 0 auto

/*-------- team page styles ------*/
.teamBlock
	margin 0 auto
	padding 60px 80px
	width 640px
	height 900px
	background-image url('/images/team_back.png')
	overflow hidden

.caption
	margin 5px
	padding-left 20px
	font-size 24px

.titleBlock
	margin 5px
	text-align center
	font-size 36px
	font-family fantasy
	
.titleBlock input
	font-size 32px
	font-family fantasy
	height 38px
	text-align center

.infoBlock
	margin 5px
	text-align left
	font-size 16px

.infoBlock textarea
	font-size 16px
	font-family sans-serif
	width 630px
	height 140px
	resize none

.teamInfo
	height 140px

.divider
	margin 15px auto
	width 300px
	height 11px
	background-image url('/images/divider.png')

.membersBlock
	width 630px
	margin 0 auto

.memberCol
	width 210px
	height 400px
	text-align center
	float left

.memberAvatar
	width 160px
	height 120px
	margin 0 auto
	
.memberAvatar .arrowl, .memberAvatar .arrowr
	float left
	margin-top 45px
	width 17px
	height 30px
	cursor pointer
	border 0 none
.memberAvatar .arrowr	
	background transparent url("/images/arrowr.png")
.memberAvatar .arrowl	
	background transparent url("/images/arrowl.png")
.memberAvatar img
	display block
	width 120px
	height 120px
	margin 0 auto
	border-style ridge
	border-color #000000
	border-width 3px

.defAva
	background-image url('/images/avatars/noplayer.png')

.memberName
	margin 10px 0px
	font-size 24px

.memberCol span
	margin 0px 2px

span.underlined
	text-decoration underline

.pName, .pSpec, .pInfo
	word-wrap break-word

.pName, .pSpec
	font-weight bold

.pSpec select
	font-size 14px
	font-family sans-serif

.pInfo textarea
	font-size 14px
	font-family sans-serif
	width 200px
	height 100px
	resize none
	
.controls
	float right
.controls button
	width 80px
	height 30px
	margin 10px 10px
	font-size 14px
	font-family fantasy
	border 0 none
	color #FFFFFF
	cursor pointer
	background transparent url('/images/button_bg2.png')

.fieldError
	box-shadow 0 0 4px 5px rgba(255,0,0,0.8)
    -moz-box-shadow 0 0 4px 5px rgba(255,0,0,0.8)
    -webkit-box-shadow 0 0 4px 5px rgba(255,0,0,0.8)
/*
.fieldCorrect
	box-shadow 0 0 4px 5px rgba(0,255,0,0.8)
    -moz-box-shadow 0 0 4px 5px rgba(0,255,0,0.8)
    -webkit-box-shadow 0 0 4px 5px rgba(0,255,0,0.8)*/

/*---------- Admin page styles ----------*/

.adminPage
	width 1200px
	color #00FF00
	margin 0 auto
	text-align center

.adminBlock
	border-style solid
	border-width 1px
	border-color #0000FF
	float left
	margin 10px
	padding 5px
	color #00FF00


/*------------ scroolllll ----*/
/*.scroll { width: 520px; margin: 20px 0 10px; }*/
.scroller .viewport { height: 350px; overflow: hidden; position: relative; border-top: 1px solid; border-bottom: 1px solid; }
.scroller .overview { position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
.scroller .scrollbar{ background: transparent no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
.scroller .track { background: transparent  no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
.scroller .thumb { background: transparent  no-repeat 50% 100%; height: 20px; font-size: 20pt; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
.scroller .thumb .end { background: transparent no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
.scroller .disable { display: none; }